/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
  margin: 0;
  padding: 0;
  /* outline: 1px dashed #eb1313; */
}

html {
  font-size: 16px;
  box-sizing: border-box;
  /* 1 rem used on the page= 16px */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
  grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
  display: flex;
  grid-column: full-start / full-end;
  background-color: #fff;
  justify-content: space-between;
  height: 2rem;
  padding-top: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  color: #a2a2a2;
}

nav ul li:last-child {
  padding-right: 1.5rem;
}

nav ul li a {
  font-size: 0.75rem;
  margin-top: 2rem;
  padding: 0rem 0.5rem;
}

nav > a {
  display: flex;
  align-items: center;
}

/* Set up logo styles */
.logo {
  height: 2rem;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.logoname {
  text-transform: uppercase;
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

.logoname-bold {
  font-weight: bold;
  color: #484848;
}

.logoname-light {
  font-weight: lighter;
  color: #aaa;
}

/* Set up navigation links' styles */
/* Set up header area */
header {
  display: flex;  /* Enable flexbox layout  */
  align-items: center;  /* Centers content vertically */
  justify-content: center;  /* Center content horizontally */
  background-color: #d8d8d8;  /* Set the bkgnd colour */
}

.imgcontainer {
  padding: 2rem 1.5rem;  /* Render padding of the containter as required */
}

header > img {
  max-width: 100%;  /* Set the max width img can take */
  height: auto;  /* Set img to maintain proportionality - aspect ratio*/
}

header > div {
  display: flex;
  flex-direction: column;  /* Set content in a single column*/
  justify-content: space-evenly;  /* Center content horizontally */
  height: 18rem;  /* Adjust desired height of container */
  padding-right: 2rem;  /* Created a right padding for right header */
}

header div > h1 {
  font-size: xx-large;
  color: #4b4b4b;
}

header div > h2 {
  font-size: large;
  color: #4b4b4b;
}

header div > a {
  display: block;
  width: 100%;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

/* hover effect for call to action link */

/* Set up practice section */
.practice {
  display: flex; /* enable flexbox layout */
  justify-content: flex-start; /* align content to the top */
  flex-direction: column;
}

.practice > .imgcontainer > img {
  max-width: 100%;
  height: auto;
}

.practice .practice-text {
  padding: 0 1.5rem;
}

.practice > .practice-text h1 {
  font-size: x-large;
  color: #4a4a4a;
  padding-left: 1.5rem;
}

.practice > .practice-text p {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  padding: 1.5rem 1.5rem 0;
}

.practice > .practice-text > p > span {
  display: block;
  font-weight: bold;
  padding: 2rem 0;
}

/* Set up events section */
.events {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid #e7e7e7;
}

.events .events-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem;
}

.events > .events-block > .events-img-desktop {
  width: 100%;
  height: auto;
}

.events > .events-block > .events-text {
  margin-left: 1rem;
  height: 100%;
  align-content: center;
}

.events .events-block:first-child {
  padding-top: 2rem;
}

.events .events-block:last-child {
  background-color: #d8d8d8;
}

.events > .events-block > .events-text h3 {
  font-size: large;
  color: #4a4a4a;
}

.events > .events-block > .events-text p {
  font-size: small;
  font-weight: lighter;
  color: #7b7b7b;
  padding: 0.5rem 0rem;
}

.events > .events-block > .events-text a {
  font-size: small;
  color: #7face7;
}

/* Set up learning section */
.learning {
  display: grid;
  grid-column: full-start/full-end;
  background-color: #eaebec;
  /* set background colour */
}

.learning > .learning-text h1 {
  font-size: x-large;
  color: #4a4a4a;
  text-align: center;
  padding: 2rem 0;
}

.learning > .learning-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0rem 4.5rem 4.5rem;
}

.learning-card {
  background-color: white;
  padding-bottom: 1.5rem;
}

.learning-card img {
  max-width: 100%;
  height: auto;
}

.learning-text {
  font-size: small;
  color: #7b7b7b;
  padding: 1rem 0rem 0rem 1rem;
}

.learning-text h3 {
  font-size: large;
  color: #4a4a4a;
}

.learning-text p {
  font-size: small;
  font-weight: lighter;
  padding: 0.5rem 0rem;
}

/* Set up thesis section */
.thesis-header {
  display: grid;
  grid-column: full-start/full-end;
  background-color: #f3f5f5;
}

.thesis-header h1 {
  font-size: x-large;
  color: #4a4a4a;
  text-align: center;
  padding: 2rem 0rem;
}

.thesis {
  display: flex;
  /* Enable flexbox layout  */
  justify-content: flex-start;
  flex-direction: column;
  /* Set content in a single column*/
  background-color: #f3f5f5;
  padding: 0rem 0.5rem 0rem 1.5rem;
}

.thesis > .vidcontainer > video {
  width: 100%;
  height: auto;
}

.thesis > .thesis-text h3 {
  color: #626363;
  padding: 1.5rem 0rem 0.5rem;
}

.thesis > .thesis-text p {
  color: #b9baba;
  padding-bottom: 2rem;
  font-weight: lighter;
}

/* Set up exhibit section */
.exhibit {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  background-color: #f3f5f5;
  /* set background colour */
}

.exhibit .exhibit-block:first-child {
  padding-top: 2rem;
  background-color: #d8d8d8;
  /* set background colour */
}

.exhibit .exhibit-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  align-items: center;
  /* Centers content vertically */
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem 0rem 1rem 1rem;
}

.exhibit > .exhibit-block > .exhibit-img-desktop {
  width: 100%;
  height: auto;
}

.exhibit > .exhibit-block > .exhibit-text {
  margin-left: 1rem;
  height: 100%;
  align-content: center;
  /* Centers content vertically */
}

.exhibit > .exhibit-block > .exhibit-text h3 {
  font-size: large;
  color: #4a4a4a;
}

.exhibit > .exhibit-block > .exhibit-text p {
  font-size: small;
  color: #7b7b7b;
  padding: 1rem 0rem;
}

/* Set up footer */
footer {
  display: flex;
  grid-column: full-start / full-end;
  justify-content: space-between;
  font-size: 0.8rem;
  border-top: 1px solid white;
  padding: 1rem 1.5rem 2rem;
}

footer > ul {
  list-style: none;
  display: flex;
}

footer > ul > li {
  margin-right: 0.5rem;
}

footer > ul > li > a {
  color: #7face7;
}

footer > ul > li > a:hover {
  text-decoration: underline;
}

/* Hide nav, learning, and thesis for mobile */
#nav-mobile,
.learning-container,
#thesis-mobile {
  display: none;
}

/* Hide events for mobile */
.events > .events-block > .events-img-mobile {
  display: none;
}

/** ********************** **/
/** End of Desktop Section **/

/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {

  /* Hide the desktop nav, practice, thesis-text, exhibit, learning-card, thesis-header h1 class */
  nav,
  .practice,
  .thesis-text,
  .exhibit,
  .learning-card,
  .thesis-header h1 {
    display: none;
  }

  /* Display mobile nav */
  #nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: full-start/full-end;
    height: 4rem;
  }

  /* Set the header image to take up the entire viewport width */
  header {
    display: grid;
    grid-column: full-start/full-end;
  }

  .imgcontainer {
    padding: 0;
  }

  header > div {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: 2rem 1rem;
  }

  header > div > h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  /* Set up the events for mobile */
  .events {
    display: grid;
    grid-column: fullstart/full-end;
  }

  .events > .events-block {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 0 1rem;
    border-bottom: none;
  }

  .events > .events-block:first-child {
    padding: 1rem;
  }

  .events > .events-block:last-child {
    padding-bottom: 2rem;
    background-color: white;
  }

  .events > .events-block > .events-img-desktop {
    display: none;
  }

  .events > .events-block > .events-img-mobile {
    display: block;
    width: auto;
    height: auto;
  }

  .events > .events-block > .events-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 5rem;
    padding: 1rem 0rem;
  }

  /* Set up the learning for mobile */
  .learning-container {
    display: flex;
    flex-direction: column;
    background-color: #eaebec;
  }

  .learning-box {
    background-color: #d8d8d8;
    border: 0.5rem solid #eaebec;
    color: #4a4a4a;
    width: 300%;
    padding: 1rem 0rem 1.5rem 1rem;
  }

  /* Set the thesis for mobile */
  #thesis-mobile {
    display: grid;
    grid-column: full-start/full-end;
    background-color: white;
    border: 1px solid green;
  }

  #thesis-mobile h1 {
    font-size: xx-large;
    color: #4a4a4a;
    text-align: center;
    padding: 2rem 0rem 1rem;
  }

  .thesis {
    display: grid;
    grid-column: full-start/full-end;
    background-color: white;
    padding: 0rem 0rem 2.5rem 0rem;
  }

  .thesis > .vidcontainer > video {
    width: 100%;
    height: auto;
  }

  /* Set the footer for mobile */
  footer > ul {
    display: none;
  }
}

/* *********************** */
/** End of Mobile Section **/
